<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>loginpage</servlet-name>
        <servlet-class>shikha.loginpage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogAuth</servlet-name>
        <servlet-class>shikha.LogAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAuth</servlet-name>
        <servlet-class>shikha.LoginAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Service</servlet-name>
        <servlet-class>shikha.Service</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>shikha.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>shikha.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationLog</servlet-name>
        <servlet-class>shikha.RegistrationLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItem</servlet-name>
        <servlet-class>shikha.RemoveItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemLog</servlet-name>
        <servlet-class>shikha.RemoveItemLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItem</servlet-name>
        <servlet-class>shikha.AddItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemLog</servlet-name>
        <servlet-class>shikha.AddItemLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateItem</servlet-name>
        <servlet-class>shikha.UpdateItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateItem_Log</servlet-name>
        <servlet-class>shikha.UpdateItem_Log</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminHome</servlet-name>
        <servlet-class>shikha.adminHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userHome</servlet-name>
        <servlet-class>shikha.userHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager</servlet-name>
        <servlet-class>shikha.UserManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManagerLog</servlet-name>
        <servlet-class>shikha.UserManagerLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManagerLog1</servlet-name>
        <servlet-class>shikha.UserManagerLog1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAll</servlet-name>
        <servlet-class>shikha.ViewAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditData</servlet-name>
        <servlet-class>shikha.EditData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchItem</servlet-name>
        <servlet-class>shikha.SearchItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchItemLog</servlet-name>
        <servlet-class>shikha.SearchItemLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckStatusSelect</servlet-name>
        <servlet-class>shikha.CheckStatusSelect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckStatus</servlet-name>
        <servlet-class>shikha.CheckStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaceOrder</servlet-name>
        <servlet-class>shikha.PlaceOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaceOrderLog73</servlet-name>
        <servlet-class>shikha.PlaceOrderLog73</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaceOrderLog37</servlet-name>
        <servlet-class>shikha.PlaceOrderLog37</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCart</servlet-name>
        <servlet-class>shikha.AddCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCart1</servlet-name>
        <servlet-class>shikha.AddCart1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCart</servlet-name>
        <servlet-class>shikha.UpdateCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQty73</servlet-name>
        <servlet-class>shikha.UpdateQty73</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Remove_From_Cart</servlet-name>
        <servlet-class>shikha.Remove_From_Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonthlyReport</servlet-name>
        <servlet-class>shikha.MonthlyReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeStatus</servlet-name>
        <servlet-class>shikha.SeeStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiveOrder</servlet-name>
        <servlet-class>shikha.ReceiveOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PRPOLog</servlet-name>
        <servlet-class>shikha.PRPOLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCart_PRPO</servlet-name>
        <servlet-class>shikha.AddCart_PRPO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCart1_PRPO</servlet-name>
        <servlet-class>shikha.AddCart1_PRPO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartPRPO</servlet-name>
        <servlet-class>shikha.UpdateCartPRPO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQty_PRPO</servlet-name>
        <servlet-class>shikha.UpdateQty_PRPO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Remove_From_Cart_PRPO</servlet-name>
        <servlet-class>shikha.Remove_From_Cart_PRPO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckStatusPRPO</servlet-name>
        <servlet-class>shikha.CheckStatusPRPO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeStatusPRPO</servlet-name>
        <servlet-class>shikha.SeeStatusPRPO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeStatusPRPOLog</servlet-name>
        <servlet-class>shikha.SeeStatusPRPOLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiveOrderPRPO</servlet-name>
        <servlet-class>shikha.ReceiveOrderPRPO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllReportRSV</servlet-name>
        <servlet-class>shikha.ViewAllReportRSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllReportPRPO</servlet-name>
        <servlet-class>shikha.ViewAllReportPRPO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bills</servlet-name>
        <servlet-class>shikha.Bills</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBill</servlet-name>
        <servlet-class>shikha.AddBill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBillLog</servlet-name>
        <servlet-class>shikha.AddBillLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBill</servlet-name>
        <servlet-class>shikha.UpdateBill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBillLog</servlet-name>
        <servlet-class>shikha.UpdateBillLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveBill</servlet-name>
        <servlet-class>shikha.RemoveBill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBillReport</servlet-name>
        <servlet-class>shikha.ViewBillReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_IssueForm</servlet-name>
        <servlet-class>shikha.User_IssueForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_IssueFormLog</servlet-name>
        <servlet-class>shikha.User_IssueFormLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_IssueProducts</servlet-name>
        <servlet-class>shikha.User_IssueProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_SearchItemLog</servlet-name>
        <servlet-class>shikha.User_SearchItemLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceOrder</servlet-name>
        <servlet-class>shikha.ServiceOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCart_Service</servlet-name>
        <servlet-class>shikha.AddCart_Service</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCart1_Service</servlet-name>
        <servlet-class>shikha.AddCart1_Service</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Remove_From_Cart_Service</servlet-name>
        <servlet-class>shikha.Remove_From_Cart_Service</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCart_Service</servlet-name>
        <servlet-class>shikha.UpdateCart_Service</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckStatusService</servlet-name>
        <servlet-class>shikha.CheckStatusService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeStatusService</servlet-name>
        <servlet-class>shikha.SeeStatusService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeStatusServiceLog</servlet-name>
        <servlet-class>shikha.SeeStatusServiceLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiveOrderService</servlet-name>
        <servlet-class>shikha.ReceiveOrderService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllReportService</servlet-name>
        <servlet-class>shikha.ViewAllReportService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllReportIssue</servlet-name>
        <servlet-class>shikha.ViewAllReportIssue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLog</servlet-name>
        <servlet-class>shikha.UpdateLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPassword</servlet-name>
        <servlet-class>shikha.EditPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPasswordLog</servlet-name>
        <servlet-class>shikha.EditPasswordLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonthlyReport_Insu</servlet-name>
        <servlet-class>shikha.MonthlyReport_Insu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportInsuPRPO</servlet-name>
        <servlet-class>shikha.ViewReportInsuPRPO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportInsuRES</servlet-name>
        <servlet-class>shikha.ViewReportInsuRES</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportInsuISSUE</servlet-name>
        <servlet-class>shikha.ViewReportInsuISSUE</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginpage</servlet-name>
        <url-pattern>/loginpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogAuth</servlet-name>
        <url-pattern>/LogAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAuth</servlet-name>
        <url-pattern>/LoginAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Service</servlet-name>
        <url-pattern>/Service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationLog</servlet-name>
        <url-pattern>/RegistrationLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItem</servlet-name>
        <url-pattern>/RemoveItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemLog</servlet-name>
        <url-pattern>/RemoveItemLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItem</servlet-name>
        <url-pattern>/AddItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemLog</servlet-name>
        <url-pattern>/AddItemLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateItem</servlet-name>
        <url-pattern>/UpdateItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateItem_Log</servlet-name>
        <url-pattern>/UpdateItem_Log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminHome</servlet-name>
        <url-pattern>/adminHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userHome</servlet-name>
        <url-pattern>/userHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager</servlet-name>
        <url-pattern>/UserManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManagerLog</servlet-name>
        <url-pattern>/UserManagerLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManagerLog1</servlet-name>
        <url-pattern>/UserManagerLog1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAll</servlet-name>
        <url-pattern>/ViewAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditData</servlet-name>
        <url-pattern>/EditData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchItem</servlet-name>
        <url-pattern>/SearchItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchItemLog</servlet-name>
        <url-pattern>/SearchItemLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckStatusSelect</servlet-name>
        <url-pattern>/CheckStatusSelect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckStatus</servlet-name>
        <url-pattern>/CheckStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaceOrder</servlet-name>
        <url-pattern>/PlaceOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaceOrderLog73</servlet-name>
        <url-pattern>/PlaceOrderLog73</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaceOrderLog37</servlet-name>
        <url-pattern>/PlaceOrderLog37</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCart</servlet-name>
        <url-pattern>/AddCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCart1</servlet-name>
        <url-pattern>/AddCart1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCart</servlet-name>
        <url-pattern>/UpdateCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQty73</servlet-name>
        <url-pattern>/UpdateQty73</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Remove_From_Cart</servlet-name>
        <url-pattern>/Remove_From_Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonthlyReport</servlet-name>
        <url-pattern>/MonthlyReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeStatus</servlet-name>
        <url-pattern>/SeeStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveOrder</servlet-name>
        <url-pattern>/ReceiveOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PRPOLog</servlet-name>
        <url-pattern>/PRPOLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCart_PRPO</servlet-name>
        <url-pattern>/AddCart_PRPO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCart1_PRPO</servlet-name>
        <url-pattern>/AddCart1_PRPO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartPRPO</servlet-name>
        <url-pattern>/UpdateCartPRPO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQty_PRPO</servlet-name>
        <url-pattern>/UpdateQty_PRPO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Remove_From_Cart_PRPO</servlet-name>
        <url-pattern>/Remove_From_Cart_PRPO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckStatusPRPO</servlet-name>
        <url-pattern>/CheckStatusPRPO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeStatusPRPO</servlet-name>
        <url-pattern>/SeeStatusPRPO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeStatusPRPOLog</servlet-name>
        <url-pattern>/SeeStatusPRPOLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveOrderPRPO</servlet-name>
        <url-pattern>/ReceiveOrderPRPO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllReportRSV</servlet-name>
        <url-pattern>/ViewAllReportRSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllReportPRPO</servlet-name>
        <url-pattern>/ViewAllReportPRPO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bills</servlet-name>
        <url-pattern>/Bills</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBill</servlet-name>
        <url-pattern>/AddBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBillLog</servlet-name>
        <url-pattern>/AddBillLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBill</servlet-name>
        <url-pattern>/UpdateBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBillLog</servlet-name>
        <url-pattern>/UpdateBillLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBill</servlet-name>
        <url-pattern>/RemoveBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBillReport</servlet-name>
        <url-pattern>/ViewBillReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_IssueForm</servlet-name>
        <url-pattern>/User_IssueForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_IssueFormLog</servlet-name>
        <url-pattern>/User_IssueFormLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_IssueProducts</servlet-name>
        <url-pattern>/User_IssueProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_SearchItemLog</servlet-name>
        <url-pattern>/User_SearchItemLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceOrder</servlet-name>
        <url-pattern>/ServiceOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCart_Service</servlet-name>
        <url-pattern>/AddCart_Service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCart1_Service</servlet-name>
        <url-pattern>/AddCart1_Service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Remove_From_Cart_Service</servlet-name>
        <url-pattern>/Remove_From_Cart_Service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCart_Service</servlet-name>
        <url-pattern>/UpdateCart_Service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckStatusService</servlet-name>
        <url-pattern>/CheckStatusService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeStatusService</servlet-name>
        <url-pattern>/SeeStatusService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeStatusServiceLog</servlet-name>
        <url-pattern>/SeeStatusServiceLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveOrderService</servlet-name>
        <url-pattern>/ReceiveOrderService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllReportService</servlet-name>
        <url-pattern>/ViewAllReportService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllReportIssue</servlet-name>
        <url-pattern>/ViewAllReportIssue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLog</servlet-name>
        <url-pattern>/UpdateLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPassword</servlet-name>
        <url-pattern>/EditPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPasswordLog</servlet-name>
        <url-pattern>/EditPasswordLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonthlyReport_Insu</servlet-name>
        <url-pattern>/MonthlyReport_Insu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportInsuPRPO</servlet-name>
        <url-pattern>/ViewReportInsuPRPO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportInsuRES</servlet-name>
        <url-pattern>/ViewReportInsuRES</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportInsuISSUE</servlet-name>
        <url-pattern>/ViewReportInsuISSUE</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>loginpage</welcome-file>
    </welcome-file-list>
</web-app>
